.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugin-dependencies
.flutter-plugins-dependencies
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
*.mode1v3
*.mode2v3
*.nocache
*.proj
*.target
*.versions
*.xcuserdatad
*.swp
*~
.DS_Store
# Widget Preview related
.widget_preview/
